/* VERSION WEB */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	background-color: white;
	display: grid;
	grid-template-areas: "sidebar header footer" "sidebar main footer" "sidebar main footer";
	grid-template-columns: 250px auto 400px;
	grid-template-rows: 100px auto;
	padding: 1rem;
	gap: 1px;
}

header {
	display: grid;
	grid-template-columns: repeat(6, 50px);
	justify-content: center;
	gap: 2rem;
	text-align: center;
	color: black;
	grid-area: header;
	padding-top: 2rem;
}

#main-menu {
	grid-area: sidebar;
	border-right: 1px solid grey;
}
#main-menu a {
	display: grid;
	grid-template-rows: 50px;
	padding-left: 1.5rem;
}

#main-menu h2 {
	padding: 2rem;
	text-align: center;
}

main {
	text-align: center;
	grid-area: main;
	padding-top: 2rem;
}

footer {
	display: grid;
	grid-template-columns: 100px 100px;
	grid-template-rows: 100px 1fr 1fr;
	grid-template-areas: "avatar username" "info info" "insta-footer insta-footer";
	text-align: center;
	grid-area: footer;
	padding-top: 1rem;
}

footer img {
	grid-area: avatar;
}

footer .username {
	grid-area: username;
}

footer .info {
	display: grid;
	grid-area: info;
	align-items: end;
}

footer .insta-footer {
	display: grid;
	grid-area: insta-footer;
	align-items: center;
}

.avatar-img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid black;
}

.storie-img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 1px solid black;
}

.add-post {
	border: 1px solid green;
}
